{

    "watermarks": {
      "lines": [80, 95],
      "functions": [80, 95],
      "branches": [80, 95],
      "statements": [80, 95]
    },
    "check-coverage": false,
    "per-file": true,
    "extension": [
      ".ts",
      ".tsx"
    ],
    "include": [
    ],
    "exclude": [
      "node_modules",
      "test",
      "*.js",
      "**/*.d.ts",
      "*.map"
    ],
    "reporter": [
      "text",
      "html"
    ],
    "require": [
    ],
    "cache": false,
    "all": true,
    "report-dir": "./.coverage"
  }
